:root {
  --primary-500: #367ee9;
  --primary-700: #0D53A5;
  --secondary-500: #E28A4A;
  --secondary-700: #79431C;
  --accent: #718096;
  --background: #fff;
  --main: #0d0106;
  --header: #2d3748;
}
